html, body, #root, .App {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  background-color: #666;
}

nav {
  background-color: black;
  border-bottom: 3px solid #666;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style: none;
}
nav ul li.selectedTab {
  background: linear-gradient(0deg, rgba(53,0,0,1) 0%, rgba(0,0,0,0) 100%);
}
nav ul li a {
  display: flex;
  height: 100%;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}
nav ul li:not(#ltc_logo) a:hover {
  background-color: #350000;
}
nav ul li a div.navItem {
  display: flex;
  align-items: center;
  padding: 10px 40px;
}
nav ul li#ltc_logo {
  font-size: 2em;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
}
.App-header {
  text-align: center;
  background-color: #999;
}
.App-header h1 {
  margin: 0;
  padding: .67em;
}
.gameContainer {
  height: 100%;
  padding: 50px 0;
  background-color: #666;
}
.demoContainer {
  height: 100%;
  width: 100%;
}
.game,
.collisionTest {
  width: 1000px;
  height: 700px;
  margin: 0 auto;
  background-color: black;
}
.demo {
  width: 100%;
  height: 100%;
  background-color: black;
}
.gameCanvas,
.demoCanvas {
  height: 100%;
  width: 100%;
}
#fpsCheck {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  padding: 5px;
  border-bottom-right-radius: 8px;
  user-select: none;
}
#particlesTracked {
  position: absolute;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  padding: 5px;
  border-bottom-left-radius: 8px;
  user-select: none;
}

/* Collision Test */
.collisionControls {
  display: flex;
  color: white;
  background-color: #111111;

}
.collisionControls > div {
  flex: 1;
  padding: 20px;
}
.collisionInstructions p {
  margin: 4px 0;
}

/* Canvas Craziness Controls */
.controls {
  display: flex;
  flex-direction: row;
  background-color: #111111;
  color: white;
  user-select: none;
  border-bottom: 3px solid #666;
  padding: 20px;
}
.controls > div {
  padding: 0 10px;
}
#effectOpts {
  display: flex;
  flex-direction: row;
}
#effectOpts > div {
  width: 400px;
  padding: 10px;
}
#effectOpts ul {
  flex-direction: column;
}
#effectOpts ul li {
  display: block;
  width: 300px;
}
#effectOpts .MuiSwitch-sizeSmall {
  height: 18px;
  padding: 4px 7px;
}
#effectOpts .MuiSwitch-sizeSmall .MuiSwitch-switchBase {
  padding: 1px 4px;
}
#cycleColors {
  display: flex;
  flex-direction: row;
}
#cycleColorsLabel {
  padding-right: 5px;
}
#cycleRateLabel {
  flex-grow: 1;
  text-align: right;
}
