html, body, #root, .App {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
}
.App-header {
  text-align: center;
  background-color: #999;
}
.gameContainer {
  height: 100%;
  padding: 50px;
  background-color: #666;
}
.game {
  width: 1000px;
  height: 700px;
  margin: 0 auto;
  background-color: black;
}
.gameCanvas {
  height: 100%;
  width: 100%;
}
